<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, disabled: true %>
  </div>

  <div class="form-inputs">
    <%= f.input :title,hint: 'Title for your blog.' %>
  </div>

  <div class="form-inputs">
    <%= f.input :author_name %>
  </div>

  <div class="form-inputs">
    <%= f.input :url, readonly: true,hint: 'Working on making it editable to use custom urls.' %>
  </div>

  <div class="form-inputs">
    <%= f.input :description, as: :text %>
  </div>

  <div class="form-inputs">
    <%= f.input :theme, collection: [ "minima", "kasper"], as: :radio_buttons %>
  </div>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

  <div class="form-inputs">
    <%= f.input :cover_image,hint: 'Cover image for your blog.' %>
  </div>

  <div class="form-inputs">
    <%= f.input :author_image %>
  </div>

  <div class="form-inputs">
    <%= f.input :google_analytics,hint: 'Google tracking code.' %>
  </div>

  <div class="form-inputs">
    <%= f.input :twitter, hint: 'Your twitter username' %>
  </div>

  <div class="form-inputs">
    <%= f.input :about ,as: :text,input_html: { id: 'about_box' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script>
  setTimeout(function(){
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
       // some code..
     }else{
       var simplemde = new SimpleMDE({ element: document.getElementById("about_box") });
     }
    }, 300);
</script>
