<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @post.new_record? %>
       <%= f.input :name, autofocus: true, required: true %>
    <% else %>
       <%= f.input :name %>
    <% end %>

    <%= f.input :content, as: :text   %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<script>
  setTimeout(function(){
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
     // some code..
   }else{
     var simplemde;
     simplemde = new SimpleMDE();
   }
  }, 300);
</script>
