<!DOCTYPE html>
<html>
  <head>
    <title>Create Your Own Beautiful Blog</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="<%= Rails.configuration.lkp['description'] %>">
  <meta name="keywords" content="<%= Rails.configuration.lkp['keywords'] %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <!-- google recaptcha -->
    <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit' async defer></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= Rails.configuration.lkp['title'] %></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><%= link_to('Text editor guide', 'https://simplemde.com/markdown-guide',{target: '_blank'}) %></li>
              <li><%= link_to('Update blog details', update_blog_path) %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
              <li><%= link_to "Log in", new_session_path(resource_name) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <main>
        <div class="row">
          <div class="col-md-9 little-padding">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
          <div class="col-md-3">
            <h2>Look Ups</h2>
            <% if current_user %>
              <div class="panel panel-default">
                <div class="panel-body">
                  Your blog is published at<br>
                  <a href="<%= current_user.blogs.first.url %>" target="_blank">
                    <%= current_user.blogs.first.url %>
                  </a>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">Publish the changes</div>
                <div class="panel-body">
                  <a href="/blogs/publish" class="btn btn-primary btn-lg" data-disable-with="Please wait... ">Publish Changes</a><br>
                  Changes may take upto 5 minutes to reflect.
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-body">
                  You have written
                  <%= current_user.blogs.first.posts.count %> posts.
                </div>
                <div class="panel-footer">
                <% if current_user.blogs.first.last_published_status %>
                  <span class="label label-success">Success</span>
                  Last published at <%= current_user.blogs.first.last_published_at %>
                <% else %>
                  <span class="label label-danger">Failed</span>
                  Please publish again, failed at <%= current_user.blogs.first.last_published_at %>
                <% end %>
                </div>
              </div>
            <% else %>
              <div class="panel panel-default">
                <div class="panel-body">
                  Your blog will be published at<br>
                  <%= Rails.configuration.lkp['base_url'] %>/username
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </main>
      <div class="jumbotron">
        <h1>Explain the concept</h1>
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Create account</h4>
            <p class="list-group-item-text">
              After you sign up we create and publish your blog online at cyobb.com/username.
            </p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Add and edit posts</h4>
            <p class="list-group-item-text">
              You can add and edit your posts anytime by logging into your account.
            </p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Update theme</h4>
            <p class="list-group-item-text">
              You can also change your blog's theme from available options, on update blog details page.
            </p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Update blog details</h4>
            <p class="list-group-item-text">
              You can update all your blog details like about us page, blog's description, your email id, your twitter id, update theme, custom url right at one place.
            </p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Publish changes</h4>
            <p class="list-group-item-text">
              All the changes and new posts will not be published to your blog until you publish them by clicking publish changes button.
            </p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Custom url</h4>
            <p class="list-group-item-text">
              By default your blog's url will be cyobb.com/username. But you can buy your own url from godaddy.com and update your custom url in update blog details page.
            </p>
          </div>
        </div>
        <p><a class="btn btn-primary btn-lg" href="/pages/learn_more">Learn more</a></p>
      </div>
      <footer>Copyright &copy; 2013-2017 <a href="https://github.com/rajatsingla">Rajatsingla.in</a> (rajatrs5054 at gmail.com)</footer>
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  </body>
</html>
